# Python
venv/
__pycache__/
*.pyc
.env

# Data / model / artefak besar
datasets/
models/
checkpoints/
*.npy
*.npz
*.h5
*.pt
*.pth
*.onnx
*.ckpt
*.zip
*.7z
*.rar

# Media besar (pakai LFS kalau perlu di repo)
*.mp4
*.avi
*.mov

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
