flask==3.0.0
flask-socketio==5.3.5
flask-cors==4.0.0
python-socketio==5.10.0
opencv-python
mediapipe==0.10.14
numpy>=1.26.0
pandas>=2.1.0
scikit-learn>=1.3.0
xgboost>=2.0.0
joblib>=1.3.0
eventlet==0.33.3
python-engineio==4.8.0
opencv-python
eventlet